<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.trending.chatify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chatlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chatlogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chatify"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SettingsActivity"></activity>
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>